---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import Layout from "../../layouts/Layout.astro";
import Pill from "../../components/Pill.astro";
import ProjectLinks from "../../components/ProjectLinks.astro";

const projects = (await getCollection("projects")).sort((a, b) =>
  b.data.pubDate.toISOString().localeCompare(a.data.pubDate.toISOString())
);

const projectList = projects.filter(
  (project) =>
    project.id !== "using-mdx.mdx" && project.id !== "markdown-style-guide.md"
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="dark:bg-gray-800 dark:text-slate-50">
    <Header />
    <Layout>
      <section>
        <ul>
          {
            projectList.map((project) => (
              <li class="mb-8">
                <div class="flex flex-col gap-x-12 lg:flex-row">
                  <a
                    href={`/projects/${project.slug}/`}
                    class="block w-full lg:w-1/2 hover:scale-105 transition-transform mb-4"
                  >
                    <img
                      transition:animate="slide"
                      src={project.data.heroImage}
                      alt={project.data.title}
                      class="rounded-2xl aspect-video object-cover w-full border-2 border-violet-500"
                    />
                  </a>
                  <div>
                    <a
                      href={`/projects/${project.slug}/`}
                      class="hover:underline underline-offset-2 text-violet-600 dark:text-violet-400 font-bold text-2xl"
                    >
                      {project.data.title}
                    </a>
                    <div>
                      <FormattedDate date={project.data.pubDate} />
                    </div>
                    <p class="mt-2 text-lg mb-1">{project.data.description}</p>
                    <ul class="flex gap-x-4">
                      {project.data.technologies?.map((tag: string) => (
                        <Pill>{tag}</Pill>
                      ))}
                    </ul>
                    <ProjectLinks
                      repoURL={project.data.repoURL}
                      deployURL={project.data.deployURL}
                    />
                  </div>
                </div>
              </li>
            ))
          }
        </ul>
      </section>
    </Layout>

    <Footer />
  </body>
</html>
