---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import ThemeLayout from "./ThemeLayout.astro";

type Props = CollectionEntry<"projects">["data"];

const { title, description, pubDate, updatedDate, heroImage, deployURL } =
  Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={`${title} | Projects`} description={description} />
    <style>
      .title {
        font-size: 2em;
        margin: 0.25em 0 0;
      }
      hr {
        border-top: 1px solid #ddd;
        margin: 1rem 0;
      }
      .last-updated-on {
        font-style: italic;
      }
    </style>
  </head>
  <ThemeLayout />
  <body class="dark:bg-gray-800 dark:text-slate-50">
    <Header />
    <main class="container w-[90%] lg:w-3/4 mx-auto mt-4">
      <a href="/projects">🔙 Back to Projects</a>
      <article>
        <h1
          class="title text-violet-600 dark:text-violet-400 font-semibold italic"
        >
          {title}
        </h1>
        <FormattedDate date={pubDate} />
        {
          heroImage && (
            <div class="flex justify-center">
              <a
                href={deployURL}
                class="mx-auto mt-4 mb-8 rounded-3xl max-h-72 w-auto"
                target="_blank"
              >
                <img
                  transition:animate="slide"
                  aspect-ratio="16/9"
                  height="288"
                  src={heroImage}
                  alt={title}
                  class="mx-auto mt-4 mb-8 rounded-3xl max-h-72 w-auto"
                />
              </a>
            </div>
          )
        }
        {
          updatedDate && (
            <div class="last-updated-on">
              Last updated on <FormattedDate date={updatedDate} />
            </div>
          )
        }
        <hr />
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
